Whitespaces between `word`s in `phrase`

Hello, everyone!

I think, the `phrase` parser is missing out on spaces between words.

Example: The display name in `John Doe <jdoe@example.com>` should parse to `"John Doe"` instead of `"JohnDoe"`.

From RFC 5322, Section 3.2.2:

> Runs of FWS, comment, or CFWS that occur between lexical tokens in a structured header field are semantically interpreted as a single space character.